.card {
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }

  .socialPreview {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    .appIcon {
      width: 32px;
      border-radius: 50%;
    }
  }
}
